In [22]:
# import pandas and load the data set
import pandas as pd

dataset = '../data/Banking_Marketing.csv'

df = pd.read_csv(dataset, header = 0)

In [23]:
# print the number of rows and columns
print('Numbers of rows and columns:', df.shape)

Numbers of rows and columns: (41199, 21)

In [24]:
# print the list of the column names
print(list(df.columns))

['age', 'job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'emp_var_rate', 'cons_price_idx', 'cons_conf_idx', 'euribor3m', 'nr_employed', 'y']

In [25]:
# get the basic information for the data frame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41199 entries, 0 to 41198
Data columns (total 21 columns):
age               41197 non-null float64
job               41199 non-null object
marital           41199 non-null object
education         41199 non-null object
default           41199 non-null object
housing           41199 non-null object
loan              41199 non-null object
contact           41193 non-null object
month             41199 non-null object
day_of_week       41199 non-null object
duration          41192 non-null float64
campaign          41199 non-null int64
pdays             41199 non-null int64
previous          41199 non-null int64
poutcome          41199 non-null object
emp_var_rate      41199 non-null float64
cons_price_idx    41199 non-null float64
cons_conf_idx     41199 non-null float64
euribor3m         41199 non-null float64
nr_employed       41199 non-null float64
y                 41199 non-null int64
dtypes: float64(7), int64(4), object(10)
memory usage: 6.6+ MB

In [3]:
# get more information for the data frame in a vertical form
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
age,41197.0,40.023812,10.434966,1.000,32.000,38.000,47.000,104.000
duration,41192.0,258.274762,259.270089,0.000,102.000,180.000,319.000,4918.000
campaign,41199.0,2.567514,2.769719,1.000,1.000,2.000,3.000,56.000
pdays,41199.0,962.485206,186.886905,0.000,999.000,999.000,999.000,999.000
previous,41199.0,0.172941,0.494859,0.000,0.000,0.000,0.000,7.000
emp_var_rate,41199.0,0.081900,1.570971,-3.400,-1.800,1.100,1.400,1.400
cons_price_idx,41199.0,93.575650,0.578845,92.201,93.075,93.749,93.994,94.767
cons_conf_idx,41199.0,-40.502002,4.628524,-50.800,-42.700,-41.800,-36.400,-26.900
euribor3m,41199.0,3.621336,1.734431,0.634,1.344,4.857,4.961,5.045
nr_employed,41199.0,5167.036455,72.249592,4963.600,5099.100,5191.000,5228.100,5228.100
y,41199.0,0.112648,0.316166,0.000,0.000,0.000,0.000,1.000

In [4]:
# check if there's any NA values
df.isna().any()

age                True
job               False
marital           False
education         False
default           False
housing           False
loan              False
contact            True
month             False
day_of_week       False
duration           True
campaign          False
pdays             False
previous          False
poutcome          False
emp_var_rate      False
cons_price_idx    False
cons_conf_idx     False
euribor3m         False
nr_employed       False
y                 False
dtype: bool

In [5]:
# count how many NA values are for each column
df.isna().sum()

age               2
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           6
month             0
day_of_week       0
duration          7
campaign          0
pdays             0
previous          0
poutcome          0
emp_var_rate      0
cons_price_idx    0
cons_conf_idx     0
euribor3m         0
nr_employed       0
y                 0
dtype: int64

In [6]:
# delete rows with NA values
df.dropna(inplace = True)

In [7]:
# show the frequency distribution for the 'education' column
df['education'].value_counts()

university.degree      12167
high.school             9516
basic.9y                6045
professional.course     5242
basic.4y                4176
basic.6y                2292
unknown                 1731
illiterate                18
Name: education, dtype: int64

In [8]:
# reduce the number of categories in the education column
df['education'].replace({'university.degree':'university', 'basic.9y':'basic', 'professional.course':'professional', 'basic.4y':'basic', 'basic.6y':'basic', 'illiterate':'unknown'}, inplace = True)

In [9]:
# show the new frequency distribution for the 'education' column
df['education'].value_counts()

basic           12513
university      12167
high.school      9516
professional     5242
unknown          1749
Name: education, dtype: int64

In [10]:
# import numpy and split the categorical and numeric columns
import numpy as np

categorical_columns = df.select_dtypes(exclude = [np.number]).columns
numeric_columns = df.select_dtypes(include = [np.number]).columns

In [11]:
from sklearn.preprocessing import OneHotEncoder

onehot_dummies = pd.get_dummies(df[categorical_columns], prefix = categorical_columns)
df = pd.concat([onehot_dummies, df[numeric_columns]], axis = 1)

In [12]:
# print the first five elements of the dataframe
df.head()

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,0,1,0,0,0,0,0,0,0,0,...,210.0,1,999,0,1.4,93.444,-36.1,4.963,5228.1,0
1,0,0,0,0,0,0,0,0,0,1,...,138.0,1,999,0,-0.1,93.200,-42.0,4.021,5195.8,0
2,0,0,0,0,1,0,0,0,0,0,...,339.0,3,6,2,-1.7,94.055,-39.8,0.729,4991.6,1
3,0,0,0,0,0,0,0,1,0,0,...,185.0,2,999,0,-1.8,93.075,-47.1,1.405,5099.1,0
4,0,0,0,0,0,1,0,0,0,0,...,137.0,1,3,1,-2.9,92.201,-31.4,0.869,5076.2,1

In [13]:
# get the basic information for the data frame
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41187 entries, 0 to 41194
Data columns (total 61 columns):
job_admin.                41187 non-null uint8
job_blue-collar           41187 non-null uint8
job_entrepreneur          41187 non-null uint8
job_housemaid             41187 non-null uint8
job_management            41187 non-null uint8
job_retired               41187 non-null uint8
job_self-employed         41187 non-null uint8
job_services              41187 non-null uint8
job_student               41187 non-null uint8
job_technician            41187 non-null uint8
job_unemployed            41187 non-null uint8
job_unknown               41187 non-null uint8
marital_divorced          41187 non-null uint8
marital_married           41187 non-null uint8
marital_single            41187 non-null uint8
marital_unknown           41187 non-null uint8
education_basic           41187 non-null uint8
education_high.school     41187 non-null uint8
education_professional    41187 non-null uint8
education_university      41187 non-null uint8
education_unknown         41187 non-null uint8
default_no                41187 non-null uint8
default_unknown           41187 non-null uint8
default_yes               41187 non-null uint8
housing_no                41187 non-null uint8
housing_unknown           41187 non-null uint8
housing_yes               41187 non-null uint8
loan_no                   41187 non-null uint8
loan_unknown              41187 non-null uint8
loan_yes                  41187 non-null uint8
contact_cellular          41187 non-null uint8
contact_telephone         41187 non-null uint8
month_apr                 41187 non-null uint8
month_aug                 41187 non-null uint8
month_dec                 41187 non-null uint8
month_jul                 41187 non-null uint8
month_jun                 41187 non-null uint8
month_mar                 41187 non-null uint8
month_may                 41187 non-null uint8
month_nov                 41187 non-null uint8
month_oct                 41187 non-null uint8
month_sep                 41187 non-null uint8
day_of_week_fri           41187 non-null uint8
day_of_week_mon           41187 non-null uint8
day_of_week_thu           41187 non-null uint8
day_of_week_tue           41187 non-null uint8
day_of_week_wed           41187 non-null uint8
poutcome_failure          41187 non-null uint8
poutcome_nonexistent      41187 non-null uint8
poutcome_success          41187 non-null uint8
age                       41187 non-null float64
duration                  41187 non-null float64
campaign                  41187 non-null int64
pdays                     41187 non-null int64
previous                  41187 non-null int64
emp_var_rate              41187 non-null float64
cons_price_idx            41187 non-null float64
cons_conf_idx             41187 non-null float64
euribor3m                 41187 non-null float64
nr_employed               41187 non-null float64
y                         41187 non-null int64
dtypes: float64(7), int64(4), uint8(50)
memory usage: 5.7 MB

In [14]:
# split the independent columns
X = df.drop(['y'], axis = 1)
X

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,age,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed
0,0,1,0,0,0,0,0,0,0,0,...,44.0,210.0,1,999,0,1.4,93.444,-36.1,4.963,5228.1
1,0,0,0,0,0,0,0,0,0,1,...,53.0,138.0,1,999,0,-0.1,93.200,-42.0,4.021,5195.8
2,0,0,0,0,1,0,0,0,0,0,...,28.0,339.0,3,6,2,-1.7,94.055,-39.8,0.729,4991.6
3,0,0,0,0,0,0,0,1,0,0,...,39.0,185.0,2,999,0,-1.8,93.075,-47.1,1.405,5099.1
4,0,0,0,0,0,1,0,0,0,0,...,55.0,137.0,1,3,1,-2.9,92.201,-31.4,0.869,5076.2
5,0,0,0,0,1,0,0,0,0,0,...,30.0,68.0,8,999,0,1.4,93.918,-42.7,4.961,5228.1
6,0,1,0,0,0,0,0,0,0,0,...,37.0,204.0,1,999,0,-1.8,92.893,-46.2,1.327,5099.1
7,0,1,0,0,0,0,0,0,0,0,...,39.0,191.0,1,999,0,-1.8,92.893,-46.2,1.313,5099.1
8,1,0,0,0,0,0,0,0,0,0,...,36.0,174.0,1,3,1,-2.9,92.963,-40.8,1.266,5076.2
9,0,1,0,0,0,0,0,0,0,0,...,27.0,191.0,2,999,1,-1.8,93.075,-47.1,1.410,5099.1
10,0,0,0,1,0,0,0,0,0,0,...,34.0,62.0,2,999,0,1.1,93.994,-36.4,4.864,5191.0
11,0,0,0,0,1,0,0,0,0,0,...,41.0,789.0,1,999,0,1.4,93.444,-36.1,4.964,5228.1
12,0,0,0,0,1,0,0,0,0,0,...,55.0,372.0,3,999,0,1.4,93.444,-36.1,4.965,5228.1
13,0,0,0,0,0,0,0,1,0,0,...,33.0,75.0,5,999,0,-1.8,92.893,-46.2,1.291,5099.1
14,1,0,0,0,0,0,0,0,0,0,...,26.0,1021.0,1,999,0,1.4,94.465,-41.8,4.960,5228.1
15,0,0,0,0,0,0,0,1,0,0,...,52.0,117.0,2,999,0,1.4,93.918,-42.7,4.962,5228.1
16,0,0,0,0,0,0,0,1,0,0,...,35.0,1034.0,2,999,0,-1.8,93.075,-47.1,1.365,5099.1
17,1,0,0,0,0,0,0,0,0,0,...,27.0,540.0,1,999,0,-0.1,93.798,-40.4,4.860,5195.8
18,0,1,0,0,0,0,0,0,0,0,...,28.0,140.0,1,999,0,1.1,93.994,-36.4,4.860,5191.0
19,0,0,0,0,0,0,0,0,0,0,...,26.0,104.0,4,999,0,1.4,93.918,-42.7,4.960,5228.1
20,0,0,0,0,0,0,0,0,0,0,...,41.0,246.0,1,999,1,-1.8,93.075,-47.1,1.405,5099.1
21,0,1,0,0,0,0,0,0,0,0,...,35.0,1114.0,1,999,0,1.4,94.465,-41.8,4.967,5228.1
22,1,0,0,0,0,0,0,0,0,0,...,40.0,340.0,1,999,0,1.4,93.918,-42.7,4.963,5228.1
23,0,0,0,0,0,0,0,0,0,1,...,32.0,35.0,1,999,0,1.4,93.918,-42.7,4.968,5228.1
24,0,1,0,0,0,0,0,0,0,0,...,41.0,241.0,3,999,0,1.4,93.918,-42.7,4.962,5228.1
25,0,0,1,0,0,0,0,0,0,0,...,34.0,168.0,2,999,0,-1.8,92.893,-46.2,1.344,5099.1
26,0,0,0,0,0,0,0,0,0,1,...,49.0,81.0,1,999,0,-3.4,92.431,-26.9,0.754,5017.5
27,1,0,0,0,0,0,0,0,0,0,...,37.0,226.0,1,2,1,-1.8,93.075,-47.1,1.365,5099.1
28,0,1,0,0,0,0,0,0,0,0,...,35.0,746.0,2,999,0,-1.8,92.893,-46.2,1.313,5099.1
29,0,1,0,0,0,0,0,0,0,0,...,38.0,41.0,5,999,0,1.4,93.918,-42.7,4.961,5228.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41157,0,0,0,0,0,0,0,1,0,0,...,34.0,80.0,1,999,0,1.4,93.918,-42.7,4.960,5228.1
41158,0,0,0,0,0,0,0,1,0,0,...,30.0,127.0,1,999,0,1.4,94.465,-41.8,4.967,5228.1
41159,1,0,0,0,0,0,0,0,0,0,...,47.0,129.0,4,999,0,1.4,93.918,-42.7,4.960,5228.1
41160,0,0,0,0,1,0,0,0,0,0,...,57.0,114.0,2,999,0,-0.1,93.200,-42.0,4.076,5195.8
41161,0,1,0,0,0,0,0,0,0,0,...,43.0,339.0,1,999,0,1.4,93.918,-42.7,4.960,5228.1
41162,0,0,0,0,0,0,1,0,0,0,...,43.0,902.0,2,999,0,-1.8,93.075,-47.1,1.445,5099.1
41163,0,1,0,0,0,0,0,0,0,0,...,22.0,396.0,1,999,0,1.1,93.994,-36.4,4.856,5191.0
41164,0,0,0,0,0,0,0,0,0,1,...,33.0,436.0,2,999,0,1.4,93.444,-36.1,4.963,5228.1
41165,1,0,0,0,0,0,0,0,0,0,...,56.0,476.0,2,999,0,1.4,93.444,-36.1,4.965,5228.1
41166,1,0,0,0,0,0,0,0,0,0,...,31.0,208.0,1,999,0,-1.8,92.893,-46.2,1.334,5099.1
41167,1,0,0,0,0,0,0,0,0,0,...,30.0,251.0,3,999,0,1.4,93.918,-42.7,4.963,5228.1
41168,0,1,0,0,0,0,0,0,0,0,...,29.0,254.0,1,999,0,1.4,93.918,-42.7,4.961,5228.1
41169,0,0,0,0,0,0,0,0,0,1,...,46.0,530.0,1,999,0,-0.1,93.200,-42.0,4.153,5195.8
41170,0,0,0,0,0,0,0,0,0,1,...,32.0,195.0,3,999,0,1.4,93.444,-36.1,4.962,5228.1
41171,1,0,0,0,0,0,0,0,0,0,...,42.0,956.0,2,999,0,1.4,94.465,-41.8,4.961,5228.1
41172,0,1,0,0,0,0,0,0,0,0,...,27.0,1309.0,4,999,0,1.4,93.918,-42.7,4.963,5228.1
41173,0,0,0,0,0,0,1,0,0,0,...,39.0,291.0,1,999,0,1.1,93.994,-36.4,4.859,5191.0
41174,0,0,1,0,0,0,0,0,0,0,...,49.0,140.0,2,999,0,-1.8,92.893,-46.2,1.281,5099.1
41175,0,1,0,0,0,0,0,0,0,0,...,46.0,58.0,3,999,0,1.4,93.444,-36.1,4.966,5228.1
41176,0,1,0,0,0,0,0,0,0,0,...,30.0,74.0,2,999,0,-1.8,92.893,-46.2,1.250,5099.1
41177,0,0,0,0,0,0,1,0,0,0,...,52.0,73.0,1,999,0,1.4,94.465,-41.8,4.967,5228.1
41178,0,0,0,0,0,0,0,0,0,1,...,35.0,243.0,1,999,0,1.4,93.444,-36.1,4.966,5228.1
41179,0,0,0,0,0,0,0,0,0,1,...,29.0,214.0,1,999,0,-1.8,92.893,-46.2,1.299,5099.1
41180,0,0,0,0,0,0,0,1,0,0,...,44.0,34.0,1,999,0,1.4,93.444,-36.1,4.966,5228.1
41181,1,0,0,0,0,0,0,0,0,0,...,39.0,123.0,2,999,0,-0.1,93.200,-42.0,4.153,5195.8
41182,1,0,0,0,0,0,0,0,0,0,...,24.0,118.0,4,999,1,-1.8,92.893,-46.2,1.266,5099.1
41183,0,0,0,0,0,1,0,0,0,0,...,59.0,222.0,1,999,0,1.4,94.465,-41.8,4.866,5228.1
41184,0,0,0,1,0,0,0,0,0,0,...,31.0,196.0,2,999,0,1.1,93.994,-36.4,4.860,5191.0
41187,0,0,0,0,0,0,0,0,1,0,...,25.0,112.0,4,999,0,1.1,93.994,-36.4,4.859,5191.0
41194,0,0,0,0,0,1,0,0,0,0,...,104.0,222.0,1,999,0,1.4,94.465,-41.8,4.866,5228.1

In [15]:
# split the dependent column
y = df['y']
y

0        0
1        0
2        1
3        0
4        1
        ..
41182    0
41183    0
41184    0
41187    0
41194    0
Name: y, Length: 41187, dtype: int64

In [16]:
# import train_test_split from sklearn and split the data in train and test data with 80:20 ratio
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [17]:
# print the shape of all the train and test data
print('X_train:', X_train.shape)
print('X_test:', X_test.shape)
print('y_train:', y_train.shape)
print('y_test:', y_test.shape)

X_train: (32949, 60)
X_test: (8238, 60)
y_train: (32949,)
y_test: (8238,)