In [1]:
#import pandas, numpy and load data set
import pandas as pd
import numpy as np

dataset = 'data/Banking_Marketing.csv'

df = pd.read_csv(dataset, header = 0)

In [3]:
# remove the NA values from the data frame
df.dropna(inplace = True)

In [5]:
# get all the categorical columns of the data frame 
data_column_category = df.select_dtypes(exclude = [np.number]).columns
data_column_category

Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'day_of_week', 'poutcome'],
      dtype='object')

In [7]:
# print the first five rows of the data frame's categorical columns
df[data_column_category].head()

,job,marital,education,default,housing,loan,contact,month,day_of_week,poutcome
0,blue-collar,married,basic.4y,unknown,yes,no,cellular,aug,thu,nonexistent
1,technician,married,unknown,no,no,no,cellular,nov,fri,nonexistent
2,management,single,university.degree,no,yes,no,cellular,jun,thu,success
3,services,married,high.school,no,no,no,cellular,apr,fri,nonexistent
4,retired,married,basic.4y,no,yes,no,cellular,aug,fri,success

In [9]:
# import the label encoder class
from sklearn.preprocessing import LabelEncoder

# create the object instance
label_encoder = LabelEncoder()

for i in data_column_category:
    df[i] = label_encoder.fit_transform(df[i])

print('Label Encoded Data:')

df[data_column_category].head()

Label Encoded Data:

,job,marital,education,default,housing,loan,contact,month,day_of_week,poutcome
0,1,1,0,1,2,0,0,1,2,1
1,9,1,7,0,0,0,0,7,0,1
2,4,2,6,0,2,0,0,4,2,2
3,7,1,3,0,0,0,0,0,0,1
4,5,1,0,0,2,0,0,1,0,2