In [3]:
# import pandas
import pandas as pd

# set the dataset path
dataset = "data/USA_Housing.csv"

# read csv to a data frame
df = pd.read_csv(dataset, header = 0)

In [4]:
# show first 5 rows
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [5]:
# show all the columns in the data frame
df.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price', 'Address'],
      dtype='object')

In [6]:
# get the number of rows
df.index

RangeIndex(start=0, stop=5000, step=1)

In [7]:
# set the address as the data frame index
df.set_index('Address', inplace = True)
df

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
Address,,,,,,
"208 Michael Ferry Apt. 674\nLaurabury, NE 37010-5101",79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06
"188 Johnson Views Suite 079\nLake Kathleen, CA 48958",79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06
"9127 Elizabeth Stravenue\nDanieltown, WI 06482-3489",61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06
USS Barnett\nFPO AP 44820,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06
USNS Raymond\nFPO AE 09386,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05
"06039 Jennifer Islands Apt. 443\nTracyport, KS 16077",80175.754159,4.988408,6.104512,4.04,26748.428425,1.068138e+06
"4759 Daniel Shoals Suite 442\nNguyenburgh, CO 20247",64698.463428,6.025336,8.147760,3.41,60828.249085,1.502056e+06
"972 Joyce Viaduct\nLake William, TN 17778-6483",78394.339278,6.989780,6.620478,2.42,36516.358972,1.573937e+06
USS Gilbert\nFPO AA 20957,59927.660813,5.362126,6.393121,2.30,29387.396003,7.988695e+05
Unit 9446 Box 0958\nDPO AE 97025,81885.927184,4.423672,8.167688,6.10,40149.965749,1.545155e+06
"6368 John Motorway Suite 700\nJanetbury, NM 26854",80527.472083,8.093513,5.042747,4.10,47224.359840,1.707046e+06
"911 Castillo Park Apt. 717\nDavisborough, PW 78603",50593.695497,4.496513,7.467627,4.49,34343.991886,6.637324e+05
"209 Natasha Stream Suite 961\nHuffmanland, NE 52457",39033.809237,7.671755,7.250029,3.10,39220.361467,1.042814e+06
"829 Welch Track Apt. 992\nNorth John, AR 26532-5136",73163.663441,6.919535,5.993188,2.27,32326.123139,1.291332e+06
"PSC 5330, Box 4420\nAPO AP 08302",69391.380184,5.344776,8.406418,4.37,35521.294033,1.402818e+06
"2278 Shannon View\nNorth Carriemouth, NM 84617",73091.866746,5.443156,8.517513,4.01,23929.524053,1.306675e+06
"064 Hayley Unions\nNicholsborough, HI 44161-1887",79706.963058,5.067890,8.219771,3.12,39717.813576,1.556787e+06
"5498 Rachel Locks\nNew Gregoryshire, PW 54755",61929.077018,4.788550,5.097010,4.30,24595.901498,5.284852e+05
Unit 7424 Box 2786\nDPO AE 71255,63508.194299,5.947165,7.187774,5.12,35719.653052,1.019426e+06
"19696 Benjamin Cape\nStephentown, ME 36952-4733",62085.276403,5.739411,7.091808,5.49,44922.106702,1.030591e+06
"030 Larry Park Suite 665\nThomashaven, HI 87941-5197",86294.999089,6.627457,8.011898,4.07,47560.775336,2.146925e+06
USNS Brown\nFPO AP 85833,60835.089979,5.551222,6.517175,2.10,45574.741662,9.292476e+05
"95198 Ortiz Key\nPort Sara, TN 24541-2855",64490.650267,4.210323,5.478088,4.31,40358.960106,7.188872e+05
"9003 Jay Plains Suite 838\nLake Elizabeth, IN 90622-0804",60697.351539,6.170484,7.150537,6.34,28140.967088,7.439998e+05
"24282 Paul Valley\nWest Perry, MI 03169-5806",59748.855487,5.339340,7.748682,4.23,27809.986544,8.957371e+05
"61938 Brady Falls\nLewisfort, DE 61227",56974.476539,8.287562,7.312880,4.33,40694.869513,1.453975e+06
"3599 Ramirez Springs\nJacksonhaven, AZ 72798",82173.626076,4.018525,6.992699,2.03,38853.918066,1.125693e+06
"073 Christopher Falls Suite 882\nWest Cynthia, MA 89075-2814",64626.880978,5.443360,6.988754,4.00,27784.742280,9.754295e+05
"6531 Chase Prairie Apt. 245\nSusanshire, MN 22365",90499.057451,6.384359,4.242191,3.04,33970.164990,1.240764e+06
"17124 Johnson Squares\nLake Robertfurt, AL 61811-3832",59323.792100,6.977828,8.273697,4.07,37520.657732,1.577018e+06
...,...,...,...,...,...,...
"2558 King Trail\nEast Catherinebury, MP 23625-1906",55980.204807,7.014510,5.458789,2.11,43968.687046,1.120943e+06
"6043 Stevens Stream\nWest Kimberlymouth, ME 49723",73491.134427,5.784430,4.425959,3.37,30800.541060,1.111307e+06
"33465 Hernandez Forest Apt. 692\nPort Ashleyfort, KS 51871-6439",83695.272383,7.643507,7.127219,5.05,33113.759057,1.736402e+06
"805 David Knoll Apt. 216\nMccarthyview, GU 74316",78743.759274,6.583685,6.595683,4.07,24381.144540,1.340770e+06
"14742 Lopez Ridge Apt. 889\nJessicatown, CA 28254",70720.296463,6.411801,5.048128,3.01,19114.019253,8.013486e+05
"6278 Jenkins Harbors Apt. 807\nNew Yvettehaven, MN 34295",54037.580879,8.471765,6.966072,3.27,28696.170856,1.324382e+06
"55823 Stuart Fields\nNunezstad, NM 03601",75046.313791,5.351169,7.797825,5.23,34107.888619,1.340344e+06
"1831 Escobar Plain Suite 171\nMartinezberg, OH 76148-5909",75980.438843,6.583105,5.914892,3.23,40394.593489,1.518478e+06
"02084 Rivera Lock\nHallville, NJ 32367-9579",80393.339500,8.899713,5.652974,4.04,39547.932489,1.910585e+06
"4679 Turner Tunnel\nRosariobury, CT 68552-4766",82224.695006,5.434087,8.375708,3.12,57166.867510,1.823498e+06
"0476 Jessica Shoals\nMelissamouth, DE 39609-2777",75664.024482,5.789203,6.415312,2.02,54724.251275,1.406865e+06
"1316 Tony Inlet Suite 235\nWest Jimmy, SC 72946",71663.871293,6.150745,7.311907,6.33,24109.778060,1.203850e+06
"109 Lee Wall Apt. 315\nLunamouth, AZ 05121-3634",58800.908770,5.976507,7.304051,6.43,37426.709745,1.020096e+06
"39174 Jessica Mission Apt. 539\nWest Cindyborough, WV 82109-6583",69655.183954,7.721100,6.077795,4.29,32902.355584,1.194357e+06
"9894 Greg Ridge\nNorth Tiffanyhaven, ID 66602-9445",62623.359828,5.071624,6.771015,3.33,50985.971202,1.211900e+06
"PSC 7442, Box 6234\nAPO AP 13017",75117.042949,6.036275,6.538111,2.22,43976.031060,1.378938e+06
"5611 Matthew Avenue\nLake Kevin, FM 72963-8891",71060.406015,5.718839,7.222730,4.34,34814.585591,1.260241e+06
"641 Lisa Parkways Suite 552\nWest Amandaside, SD 71807-8061",65729.222330,6.237787,6.860475,3.12,25573.854289,1.197073e+06
"6066 Sanders Court Apt. 914\nSouth Alexis, FM 21016",67637.840665,7.056673,5.774409,3.05,43846.531340,1.275143e+06
"19960 Scott Street\nPort Brenda, MO 02292-8651",47965.406896,5.694638,7.363327,5.40,46071.947337,8.852050e+05
"86727 Kelly Plaza\nLake Veronica, IL 04474",52723.876555,5.452237,8.124571,6.39,14802.088438,4.795006e+05
"2871 John Lodge\nAmychester, GU 61734-5597",74102.191890,5.657841,7.683993,3.13,24041.270592,1.263721e+06
Unit 2096 Box 9559\nDPO AE 80983-8797,87499.125743,6.403473,4.836091,4.02,40815.199679,1.568701e+06
"5259 David Causeway Apt. 975\nSouth Alexstad, IL 42719-2498",69639.140896,5.007510,7.778375,6.05,54056.128430,1.381831e+06
"5224 Lamb Passage\nNancystad, GA 16579",73060.846226,5.293682,6.312253,4.16,22695.695480,9.053549e+05
USNS Williams\nFPO AP 30153-7653,60567.944140,7.830362,6.137356,3.46,22837.361035,1.060194e+06
"PSC 9258, Box 8489\nAPO AA 42991-3352",78491.275435,6.999135,6.576763,4.02,25616.115489,1.482618e+06
"4215 Tracy Garden Suite 076\nJoshualand, VA 01707-9165",63390.686886,7.250591,4.805081,2.13,33266.145490,1.030730e+06
USS Wallace\nFPO AE 73316,68001.331235,5.534388,7.130144,5.44,42625.620156,1.198657e+06
"37778 George Ridges Apt. 509\nEast Holly, NV 29290-3595",65510.581804,5.992305,6.792336,4.07,46501.283803,1.298950e+06

In [8]:
# reset the data frame index
df.reset_index(inplace = True)
df

,Address,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
0,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701...",79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06
1,"188 Johnson Views Suite 079\nLake Kathleen, CA...",79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06
2,"9127 Elizabeth Stravenue\nDanieltown, WI 06482...",61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06
3,USS Barnett\nFPO AP 44820,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06
4,USNS Raymond\nFPO AE 09386,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05
5,"06039 Jennifer Islands Apt. 443\nTracyport, KS...",80175.754159,4.988408,6.104512,4.04,26748.428425,1.068138e+06
6,"4759 Daniel Shoals Suite 442\nNguyenburgh, CO ...",64698.463428,6.025336,8.147760,3.41,60828.249085,1.502056e+06
7,"972 Joyce Viaduct\nLake William, TN 17778-6483",78394.339278,6.989780,6.620478,2.42,36516.358972,1.573937e+06
8,USS Gilbert\nFPO AA 20957,59927.660813,5.362126,6.393121,2.30,29387.396003,7.988695e+05
9,Unit 9446 Box 0958\nDPO AE 97025,81885.927184,4.423672,8.167688,6.10,40149.965749,1.545155e+06
10,"6368 John Motorway Suite 700\nJanetbury, NM 26854",80527.472083,8.093513,5.042747,4.10,47224.359840,1.707046e+06
11,"911 Castillo Park Apt. 717\nDavisborough, PW 7...",50593.695497,4.496513,7.467627,4.49,34343.991886,6.637324e+05
12,"209 Natasha Stream Suite 961\nHuffmanland, NE ...",39033.809237,7.671755,7.250029,3.10,39220.361467,1.042814e+06
13,"829 Welch Track Apt. 992\nNorth John, AR 26532...",73163.663441,6.919535,5.993188,2.27,32326.123139,1.291332e+06
14,"PSC 5330, Box 4420\nAPO AP 08302",69391.380184,5.344776,8.406418,4.37,35521.294033,1.402818e+06
15,"2278 Shannon View\nNorth Carriemouth, NM 84617",73091.866746,5.443156,8.517513,4.01,23929.524053,1.306675e+06
16,"064 Hayley Unions\nNicholsborough, HI 44161-1887",79706.963058,5.067890,8.219771,3.12,39717.813576,1.556787e+06
17,"5498 Rachel Locks\nNew Gregoryshire, PW 54755",61929.077018,4.788550,5.097010,4.30,24595.901498,5.284852e+05
18,Unit 7424 Box 2786\nDPO AE 71255,63508.194299,5.947165,7.187774,5.12,35719.653052,1.019426e+06
19,"19696 Benjamin Cape\nStephentown, ME 36952-4733",62085.276403,5.739411,7.091808,5.49,44922.106702,1.030591e+06
20,"030 Larry Park Suite 665\nThomashaven, HI 8794...",86294.999089,6.627457,8.011898,4.07,47560.775336,2.146925e+06
21,USNS Brown\nFPO AP 85833,60835.089979,5.551222,6.517175,2.10,45574.741662,9.292476e+05
22,"95198 Ortiz Key\nPort Sara, TN 24541-2855",64490.650267,4.210323,5.478088,4.31,40358.960106,7.188872e+05
23,"9003 Jay Plains Suite 838\nLake Elizabeth, IN ...",60697.351539,6.170484,7.150537,6.34,28140.967088,7.439998e+05
24,"24282 Paul Valley\nWest Perry, MI 03169-5806",59748.855487,5.339340,7.748682,4.23,27809.986544,8.957371e+05
25,"61938 Brady Falls\nLewisfort, DE 61227",56974.476539,8.287562,7.312880,4.33,40694.869513,1.453975e+06
26,"3599 Ramirez Springs\nJacksonhaven, AZ 72798",82173.626076,4.018525,6.992699,2.03,38853.918066,1.125693e+06
27,"073 Christopher Falls Suite 882\nWest Cynthia,...",64626.880978,5.443360,6.988754,4.00,27784.742280,9.754295e+05
28,"6531 Chase Prairie Apt. 245\nSusanshire, MN 22365",90499.057451,6.384359,4.242191,3.04,33970.164990,1.240764e+06
29,"17124 Johnson Squares\nLake Robertfurt, AL 618...",59323.792100,6.977828,8.273697,4.07,37520.657732,1.577018e+06
...,...,...,...,...,...,...,...
4970,"2558 King Trail\nEast Catherinebury, MP 23625-...",55980.204807,7.014510,5.458789,2.11,43968.687046,1.120943e+06
4971,"6043 Stevens Stream\nWest Kimberlymouth, ME 49723",73491.134427,5.784430,4.425959,3.37,30800.541060,1.111307e+06
4972,33465 Hernandez Forest Apt. 692\nPort Ashleyfo...,83695.272383,7.643507,7.127219,5.05,33113.759057,1.736402e+06
4973,"805 David Knoll Apt. 216\nMccarthyview, GU 74316",78743.759274,6.583685,6.595683,4.07,24381.144540,1.340770e+06
4974,"14742 Lopez Ridge Apt. 889\nJessicatown, CA 28254",70720.296463,6.411801,5.048128,3.01,19114.019253,8.013486e+05
4975,6278 Jenkins Harbors Apt. 807\nNew Yvettehaven...,54037.580879,8.471765,6.966072,3.27,28696.170856,1.324382e+06
4976,"55823 Stuart Fields\nNunezstad, NM 03601",75046.313791,5.351169,7.797825,5.23,34107.888619,1.340344e+06
4977,"1831 Escobar Plain Suite 171\nMartinezberg, OH...",75980.438843,6.583105,5.914892,3.23,40394.593489,1.518478e+06
4978,"02084 Rivera Lock\nHallville, NJ 32367-9579",80393.339500,8.899713,5.652974,4.04,39547.932489,1.910585e+06
4979,"4679 Turner Tunnel\nRosariobury, CT 68552-4766",82224.695006,5.434087,8.375708,3.12,57166.867510,1.823498e+06
4980,"0476 Jessica Shoals\nMelissamouth, DE 39609-2777",75664.024482,5.789203,6.415312,2.02,54724.251275,1.406865e+06
4981,"1316 Tony Inlet Suite 235\nWest Jimmy, SC 72946",71663.871293,6.150745,7.311907,6.33,24109.778060,1.203850e+06
4982,"109 Lee Wall Apt. 315\nLunamouth, AZ 05121-3634",58800.908770,5.976507,7.304051,6.43,37426.709745,1.020096e+06
4983,39174 Jessica Mission Apt. 539\nWest Cindyboro...,69655.183954,7.721100,6.077795,4.29,32902.355584,1.194357e+06
4984,"9894 Greg Ridge\nNorth Tiffanyhaven, ID 66602-...",62623.359828,5.071624,6.771015,3.33,50985.971202,1.211900e+06
4985,"PSC 7442, Box 6234\nAPO AP 13017",75117.042949,6.036275,6.538111,2.22,43976.031060,1.378938e+06
4986,"5611 Matthew Avenue\nLake Kevin, FM 72963-8891",71060.406015,5.718839,7.222730,4.34,34814.585591,1.260241e+06
4987,"641 Lisa Parkways Suite 552\nWest Amandaside, ...",65729.222330,6.237787,6.860475,3.12,25573.854289,1.197073e+06
4988,"6066 Sanders Court Apt. 914\nSouth Alexis, FM ...",67637.840665,7.056673,5.774409,3.05,43846.531340,1.275143e+06
4989,"19960 Scott Street\nPort Brenda, MO 02292-8651",47965.406896,5.694638,7.363327,5.40,46071.947337,8.852050e+05
4990,"86727 Kelly Plaza\nLake Veronica, IL 04474",52723.876555,5.452237,8.124571,6.39,14802.088438,4.795006e+05
4991,"2871 John Lodge\nAmychester, GU 61734-5597",74102.191890,5.657841,7.683993,3.13,24041.270592,1.263721e+06
4992,Unit 2096 Box 9559\nDPO AE 80983-8797,87499.125743,6.403473,4.836091,4.02,40815.199679,1.568701e+06
4993,"5259 David Causeway Apt. 975\nSouth Alexstad, ...",69639.140896,5.007510,7.778375,6.05,54056.128430,1.381831e+06
4994,"5224 Lamb Passage\nNancystad, GA 16579",73060.846226,5.293682,6.312253,4.16,22695.695480,9.053549e+05
4995,USNS Williams\nFPO AP 30153-7653,60567.944140,7.830362,6.137356,3.46,22837.361035,1.060194e+06
4996,"PSC 9258, Box 8489\nAPO AA 42991-3352",78491.275435,6.999135,6.576763,4.02,25616.115489,1.482618e+06
4997,"4215 Tracy Garden Suite 076\nJoshualand, VA 01...",63390.686886,7.250591,4.805081,2.13,33266.145490,1.030730e+06
4998,USS Wallace\nFPO AE 73316,68001.331235,5.534388,7.130144,5.44,42625.620156,1.198657e+06
4999,"37778 George Ridges Apt. 509\nEast Holly, NV 2...",65510.581804,5.992305,6.792336,4.07,46501.283803,1.298950e+06

In [9]:
# get the first four rows for the first three columns
df.iloc[0:4,0:3]

,Address,Avg. Area Income,Avg. Area House Age
0,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701...",79545.458574,5.682861
1,"188 Johnson Views Suite 079\nLake Kathleen, CA...",79248.642455,6.002900
2,"9127 Elizabeth Stravenue\nDanieltown, WI 06482...",61287.067179,5.865890
3,USS Barnett\nFPO AP 44820,63345.240046,7.188236

In [10]:
# get the first four rows for the Avg. Area Income and Avg. Area House Age columns
df.loc[0:4,["Avg. Area Income", "Avg. Area House Age"]]

   Avg. Area Income  Avg. Area House Age
0      79545.458574             5.682861
1      79248.642455             6.002900
2      61287.067179             5.865890
3      63345.240046             7.188236
4      59982.197226             5.040555

In [11]:
# create the Feature matrix by taking all independen variables less the target variable (price)
x = df.drop('Price', axis = 1)
# get the firts five rows
x.head()

,Address,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
0,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701...",79545.458574,5.682861,7.009188,4.09,23086.800503
1,"188 Johnson Views Suite 079\nLake Kathleen, CA...",79248.642455,6.002900,6.730821,3.09,40173.072174
2,"9127 Elizabeth Stravenue\nDanieltown, WI 06482...",61287.067179,5.865890,8.512727,5.13,36882.159400
3,USS Barnett\nFPO AP 44820,63345.240046,7.188236,5.586729,3.26,34310.242831
4,USNS Raymond\nFPO AE 09386,59982.197226,5.040555,7.839388,4.23,26354.109472

In [12]:
# get the shape of the feature matrix
x.shape

(5000, 6)

In [13]:
# get the target matrix and the first 10 rows
y = df["Price"]
y.head(10)

0    1.059034e+06
1    1.505891e+06
2    1.058988e+06
3    1.260617e+06
4    6.309435e+05
5    1.068138e+06
6    1.502056e+06
7    1.573937e+06
8    7.988695e+05
9    1.545155e+06
Name: Price, dtype: float64

In [14]:
# get the shape of the target matrix
y.shape

(5000,)