In [1]:
# import pandas and load the data set
import pandas as pd

dataset = '../data/USA_Housing.csv'

df = pd.read_csv(dataset, header = 0)

In [5]:
# get the independent variable columns
X = df.drop(['Price'], axis = 1)
X.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,USNS Raymond\nFPO AE 09386

In [6]:
# print the shape of the independent variable columns
X.shape

(5000, 6)

In [7]:
# get the dependen variable column
y = df['Price']
y.head()

0    1.059034e+06
1    1.505891e+06
2    1.058988e+06
3    1.260617e+06
4    6.309435e+05
Name: Price, dtype: float64

In [8]:
# print the shape of the dependent variable column
y.shape

(5000,)

In [9]:
# import the train test split function from sklearn.model_selection
from sklearn.model_selection import train_test_split

# perform the train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

print('X_train:', X_train.shape)
print('X_test:', X_test.shape)
print('y_train:', y_train.shape)
print('y_test:', X_test.shape)

X_train: (4000, 6)
X_test: (1000, 6)
y_train: (4000,)
y_test: (1000, 6)